pysqlite3-binary
langchain
langchain-community
chromadb
unstructured==0.15.7
sentence-transformers
faiss-cpu
tiktoken
openai==1.42.0
pypdf==4.3.1
loguru==0.7.2
docx2txt
transformers
streamlit
openai
pandas
numpy==1.26.0
markdown==3.7
tiktoken
